// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header{
  background-color: #0F5959;
  color: white;
  height: 10vh;
}

body{
  height: 100%;
  margin: 0%;
}

section{
  height: 100vh;
  min-height:100%;
  position:relative;
}

section:nth-child(1) {
  background: linear-gradient(215deg, transparent, #05d7d9) 0px 0px,
              linear-gradient(215deg, transparent, #05d7d9) 0px 0px,
              linear-gradient(90deg, white, #05d7d9) 0px 0px;
  background-size: 100px 100px, 200px 200px;
  *{
    color: white;

  }
}
.container-fluid{
  height: 100vh;
  background: radial-gradient(ellipse farthest-corner at 45px 45px , transparent, #05d7d9 80%);
}

.main-block{
  width: 80%;
  margin-top: 4%;
  padding-top: 2%;
  font-family: Josefin Slab;
  font-weight: 900;
  font-size: 20px;
}

#display-text{
  font-family: Rubik One;
  font-size: 60px;
  text-shadow: 0px 0px 12px #0F5959;
}

.self-image{
  -webkit-clip-path: circle(50% at 50% 50%);
}